<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chii.server.tt2anjian.mapper.InfoMapper">
    <resultMap id="BaseResultMap" type="com.chii.server.tt2anjian.pojo.Info">
        <constructor>
            <idArg column="mid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="layer_set" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_all" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_mini" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="time" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        mid, layer_set, update_all, update_mini, time, username
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info
        where mid = #{mid,jdbcType=INTEGER}
    </select>
    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectLastByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info
        where username = #{username,jdbcType=VARCHAR}
        ORDER BY mid DESC
        LIMIT 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from info
        where mid = #{mid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="mid" parameterType="com.chii.server.tt2anjian.pojo.Info">
        insert into info (layer_set, update_all, update_mini, time, username)
        values (#{layerSet,jdbcType=INTEGER},
                #{updateAll,jdbcType=INTEGER},
                #{updateMini,jdbcType=INTEGER},
                #{time,jdbcType=TIMESTAMP},
                #{username,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="mid" parameterType="com.chii.server.tt2anjian.pojo.Info">
        insert into info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="layerSet != null">
                layer_set,
            </if>
            <if test="updateAll != null">
                update_all,
            </if>
            <if test="updateMini != null">
                update_mini,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="username != null">
                username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="layerSet != null">
                #{layerSet,jdbcType=INTEGER},
            </if>
            <if test="updateAll != null">
                #{updateAll,jdbcType=INTEGER},
            </if>
            <if test="updateMini != null">
                #{updateMini,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chii.server.tt2anjian.pojo.Info">
        update info
        <set>
            <if test="layerSet != null">
                layer_set = #{layerSet,jdbcType=INTEGER},
            </if>
            <if test="updateAll != null">
                update_all = #{updateAll,jdbcType=INTEGER},
            </if>
            <if test="updateMini != null">
                update_mini = #{updateMini,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
        </set>
        where mid = #{mid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chii.server.tt2anjian.pojo.Info">
        update info
        set layer_set = #{layerSet,jdbcType=INTEGER},
            update_all = #{updateAll,jdbcType=INTEGER},
            update_mini = #{updateMini,jdbcType=INTEGER},
            time = #{time,jdbcType=TIMESTAMP},
            username = #{username,jdbcType=VARCHAR}
        where mid = #{mid,jdbcType=INTEGER}
    </update>
</mapper>