<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chii.server.tt2anjian.mapper.InfosMapper">
  <resultMap id="BaseResultMap" type="com.chii.server.tt2anjian.pojo.Infos">
    <constructor>
      <idArg column="iid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="layer" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="usetime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    iid, mid, layer, usetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from infos
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <select id="selectByMid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from infos
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from infos
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chii.server.tt2anjian.pojo.Infos">
    insert into infos (iid, mid, layer, 
      usetime)
    values (#{iid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{layer,jdbcType=VARCHAR}, 
      #{usetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chii.server.tt2anjian.pojo.Infos">
    insert into infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        iid,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="usetime != null">
        usetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null">
        #{usetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chii.server.tt2anjian.pojo.Infos">
    update infos
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null">
        usetime = #{usetime,jdbcType=VARCHAR},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chii.server.tt2anjian.pojo.Infos">
    update infos
    set mid = #{mid,jdbcType=INTEGER},
      layer = #{layer,jdbcType=VARCHAR},
      usetime = #{usetime,jdbcType=VARCHAR}
    where iid = #{iid,jdbcType=INTEGER}
  </update>
</mapper>